.list__item{
    position: relative;
    z-index: -1;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 20px 100px 20px 20px ;
    overflow: hidden;
    box-shadow:  0  0 1px 1px #fff;
    background-color: #382c34;;
    border: none;
    border-radius: 10px;
}

.check{
    margin-right: 10px;
    transform: scale(1.5);
}
.item__btn{
  margin-left: 20px;
  position: absolute;
  padding:5px 15px;
  height: 40px;
  right: 10px;
   top: 0;
   bottom: 0;
   margin:auto;
   border-radius: 10px;
   border: none;
   color:#fff;
   background-color: red ;
   cursor: pointer;
}